<%# Import the header%>
<%- include('templates/header'); -%>
<%# /Import the header%>

<section class="artistsdetails" id="artistdetails">
  <div class="container" >
      <%# Artists Details %>
      <h1 class="text-center mt-5"><a href="./<%= artist.shortname %>#artistdetails"><%= artist.name %></a></h1><hr />

            <div class="row">
              <div class="col-sm-3 my-3">
                <a href="./<%= artist.shortname %>#artistdetails">
                  <img class="w-100 mb-1 " src="/images/artists/<%= artist.shortname %>.jpg" alt="Photo of <%= artist.title %>">
                  </a>
                <img alt="No artist Card Available" class="w-100 mt-5 " src="https://www.trueachievements.com/artistcards/<%= artist.artisttag %>.png"/>

              </div>

              <div class="col-sm-6 my-3">
                <p><%- artist.summary %></p>
                <p><%- artist.description %></p><br />      

              </div>
          
              <div class="col-sm-3 my-3">
                <h3>Recent Reviews</h3><hr />
                <div class="row">
                <%# Boxart %>
                <% if (boxart.reverse().length > 0) { %>
                  <%for (i=0; i < boxart.length; i ++){ %>
                      <div class="col-6">
                        <div class="pixgrid clearfix zoom">
                          <a href="/blog/<%= boxart[i] %>"><img class="w-100" src="/images/boxart/<%= boxart[i] %>_tn.jpg"></a>
                          </div>
                      </div>
  
                  <%}%>
                <% }  %>
              <%# /Boxart %>
            </div>
              </div>
        
        </div>
          </section>


      <%# /Artists Details %>


        
<%# Import the footer %>
<%- include('templates/footer'); -%>
<%# /Import the footer %>