<%#Import the header%>
<%- include('templates/header'); -%>
<%#/Import the header%>
<style>header {display:none}</style>
<section class="gamers" id="allgamers">
  <div class="container">
    <h1>All Gamers</h1><hr />

              <%# Gamers List Loop %>
              <% gamerslist.forEach(function(gamer) { %>
            <div class="row">

              <div class="col-sm-3">
                <a href="/gamers/<%= gamer.shortname %>#gamerdetails">
                  <img class="w-100 " src="/images/gamers/<%= gamer.shortname %>_tn.jpg" alt="Photo of <%= gamer.shortname %>">
                </a>
              </div>
              <div class="col-sm-9 ">
                <h3><a href="/gamers/<%= gamer.shortname %>#gamerdetails"><%= gamer.title %></a></h3>
                <h5> AKA
                  <a href="/gamers/<%= gamer.shortname %>#gamerdetails"><%= gamer.name %></a>
                </h5>
                <p><%- gamer.summary %></p><br />
                <a href="/gamers/<%= gamer.shortname %>#gamerdetails"><button class="btn btn-light">View Profile</button></a>
              </div>

            </div><hr />

              <%  }); %>
              <%# / Gamers List Loop %>

  </div>
</section>
<%#Import the footer%>
<%- include('templates/footer'); -%>
<%#/Import the footer%>