<%#Import the header%>
<%- include('templates/header'); -%>
<%#/Import the header%>

<section class="writers" id="allwriters">
  <div class="container">
    <h1>Harry and Hermione Writers</h1><hr />

              <%# Writers List Loop %>
              <% writerslist.forEach(function(writer) { %>
            <div class="row">

              <div class="col-sm-3">
                <a href="/writers/<%= writer.shortname %>">
                  <img class="w-100 " src="/images/writers/<%= writer.shortname %>.jpg" alt="Photo of <%= writer.shortname %>">
                </a>
              </div>
              <div class="col-sm-9 ">
                <h3><a href="/writers/<%= writer.shortname %>"><%= writer.name %></a></h3>
                <p><%- writer.summary %></p><br />
                <a href="/writers/<%= writer.shortname %>"><button class="btn btn-light">View Profile</button></a>
              </div>

            </div><hr />

              <%  }); %>
              <%# / Writers List Loop %>

  </div>
</section>
<%#Import the footer%>
<%- include('templates/footer'); -%>
<%#/Import the footer%>